{{#process_names}}
<g>
<line x1="{{line_x1}}" x2="{{line_x2}}" y1="{{line_y1}}" y2="{{line_y2}}" stroke="{{color}}" stroke-width="{{width}}"/>
<title>{{name}}</title>
<text x="{{text_x}}" y="{{text_y}}" font-family="{{font_name}}" font-size="{{font_size}}" fill="{{font_name}}">{{name}}</text>
<g>
{{/process_names}}
