<defs>
	<linearGradient id="background" y1="0" y2="1" x1="0" x2="0" >
		<stop stop-color="{{bgcolor1}}" offset="5%" />
		<stop stop-color="{{bgcolor2}}" offset="95%" />
	</linearGradient>
</defs>
<style type="text/css">
	text { font-family:{{fonttype}}; font-size:{{fontsize}}px; fill:rgb(0,0,0); }

	#title { text-anchor:middle; font-size:{{titlesize}}px}
	#processname { text-anchor:middle; font-size:{{titlesize}}px}

</style>